{% extends "recept/index.html" %}
{% load static %}


{% block one %}

    <div class="container">
        <div class="py-4 text-center">
            <h2>Кухни на любой вкус</h2>
        </div>
    </div>

{% endblock %}


{% block two %}    

    <div class="razdel-2">
        <div class="container">
            <div class="row">
                {% for kitchen in kitchens %}
                    <div class="col-md-6 px-4 py-4 kitchens">
                        <a href="{{ kitchen.slugKitchen }}">
                            <div class="row flex-md-nowrap align-items-center">
                                <div class="col-md-7 left text-left kitchen-card">
                                    <h3 class="mt-5">{{ kitchen.nameKitchen }}</h3>
                                </div>
                                <div class="col-md-7 right">
                                    <img src="{{ kitchen.imageKitchen.url }}" alt="kitchenimage" class="w-100" style="border-radius:6px;" height="220">
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
